body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.singleProblemContainer {
  display: flex;
}

.codeSandboxContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 0 0 50%;
}

.buttonContainer {
  display: flex;
  flex: 0 0 100%;
  justify-content: flex-end;
}

.aceContent {
  flex: 1 1 100%;
}

.promptResultContainer {
  display: flex;
  flex-wrap: wrap;
}
