#company-home-container {
  display: flex;
  flex: 1 0 100%;
  flex-direction: column;
  align-items: center;
  margin-top: 10vh;
}

#developer-list-container {
  display: flex;
  max-width: 70vw;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.developer-list-item {
  display: flex;
  flex: 1 0 100%;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  /* justify-content: space-evenly; */
}

.developer-list-item > hr {
  min-width: 100%;
}

.developer-info {
  flex: 0 0 15%;
  font-weight: 200;
  letter-spacing: 1px;
  display: flex;
}

.developer-info-button {
  flex: 0 0 15%;
  font-weight: 200;
  letter-spacing: 1px;
}

.developer-info-button button {
  align-self: center;
}

#title-divider {
  margin: 0px;
  margin-bottom: 8vh;
}

.name,
.location {
  flex: 0 0 30%;
}

.developer-list-item > button {
  background-color: #26c6da;
  border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
}

.delete {
  background-color: #db350a !important;
}
