#mainPageContainer {
  display: flex;
  height: 100vh;
  width: 100vw;
}

#leftColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 1 33%;
  margin-left: 30px;
  padding-right: 45px;
}

#leftColumn > p {
  margin-top: 30px;
  padding-right: 8vw;
  letter-spacing: 1px;
  line-height: 1.5em;
}

#rightColumn {
  flex: 1 1 66%;
  background-image: url('https://i.imgur.com/DFlD97m.jpg');
  background-position: center;
  background-size: 1080px 1080px;
}

#mainPageHR {
  max-width: 10vw;
}
