.container {
  margin-top: 20vh;
  display: flex;
  justify-content: center;
}

.container h3 {
  font-weight: 200;
}

.problem-list-container {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.problem-list-container hr {
  margin-left: 0;
  margin-right: 0;
}

.problem-list-item-container {
  display: flex;
}

.problem-list-title-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.problem-list-item {
  display: flex;
  text-align: left;
  flex-direction: row;
  flex: 0 1 20%;
  padding: 20px 0 20px 0;
}

.problem-list-item svg {
  transform: translate(0px, 3px);
}

.problem-list-item:not(.title) > h4 {
  font-weight: 100;
}

.problem-list-item > span {
  display: inline-block;
  border-bottom: 1px solid black;
  padding-bottom: 2px;
}

#titleHR {
  min-width: 100%;
  margin-bottom: 45px;
}

.title {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 0 1 20%;
  margin: 0px;
  padding: 20px 0 0px 0;
}

.problemName {
  flex: 1 0 40%;
}

.problemName h4 {
  font-weight: 200;
  border-bottom: 1px solid rgba(38, 198, 218, 0.3);
  padding-bottom: 2px;
}

.problemName h4:hover {
  border-bottom: 1px solid rgba(38, 198, 218, 1);
}

.filters {
  display: flex;
  flex-direction: column;
  width: 15%;
  justify-content: flex-start;
  align-items: baseline;
  margin-right: 10vw;
}

.filters > h3 {
  padding-top: 20px;
}

.filters > hr {
  min-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-right: auto;
  margin-bottom: 25px;
}

.checkbox-item {
  display: flex;
  width: 100%;
  flex-direction: row;
  margin-bottom: 10px;
  justify-content: space-between;
}

.checkbox-item > label {
  font-size: 14px;
  margin-top: 2px;
  font-weight: 200;
}
