.container {
  margin-top: 10vh;
  display: flex;
  justify-content: center;
}

.container h3 {
  font-weight: 200;
}

.problem-list-container {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.problem-list-container hr {
  margin-left: 0;
  margin-right: 0;
}

.problem-list-item-container {
  display: flex;
}

.problem-list-title-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.problem-list-item {
  display: flex;
  text-align: left;
  flex-direction: row;
  flex: 0 1 20%;
  padding: 20px 0 20px 0;
}

.problem-list-item:not(.title) > h4 {
  font-weight: 100;
}

#titleHR {
  min-width: 100%;
  margin-bottom: 45px;
}

.title {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 0 1 20%;
  margin: 0px;
  padding: 20px 0 0px 0;
}

.problemName {
  flex: 1 0 40%;
}

.problemName h4 {
  text-decoration: underline;
  text-decoration-color: #6ff9ff;
}

.filters {
  display: flex;
  margin-top: 10vh;
  flex-direction: column;
  width: 10%;
  align-content: center;
}
