.charts-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  max-height: 45%;
}

.chart-item {
  display: flex;
  min-height: 100%;
  flex: 1 1 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.pie-chart-container {
  display: flex;
  justify-content: center;
}

/* .chart-item > p {
  margin-bottom: auto;
} */

.chartWrapper {
  justify-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
